BankServer2/src/conf/xml-resources/web-service-references/DichVu/wsdl/localhost_8080/BankServer2/DichVu.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bank/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://bank/" name="DichVu">
<types>
<xsd:schema>
<xsd:import namespace="http://bank/" schemaLocation="http://localhost:8080/BankServer2/DichVu?xsd=1" />
</xsd:schema>
</types>
<message name="CheckDangNhap">
<part name="parameters" element="tns:CheckDangNhap" />
</message>
<message name="CheckDangNhapResponse">
<part name="parameters" element="tns:CheckDangNhapResponse" />
</message>
<message name="DoiPIN">
<part name="parameters" element="tns:DoiPIN" />
</message>
<message name="DoiPINResponse">
<part name="parameters" element="tns:DoiPINResponse" />
</message>
<message name="XemChiTietTaiKhoan">
<part name="parameters" element="tns:XemChiTietTaiKhoan" />
</message>
<message name="XemChiTietTaiKhoanResponse">
<part name="parameters" element="tns:XemChiTietTaiKhoanResponse" />
</message>
<message name="RutTien">
<part name="parameters" element="tns:RutTien" />
</message>
<message name="RutTienResponse">
<part name="parameters" element="tns:RutTienResponse" />
</message>
<message name="LuuRutTien">
<part name="parameters" element="tns:LuuRutTien" />
</message>
<message name="LuuRutTienResponse">
<part name="parameters" element="tns:LuuRutTienResponse" />
</message>
<message name="TaiKhoanDen">
<part name="parameters" element="tns:TaiKhoanDen" />
</message>
<message name="TaiKhoanDenResponse">
<part name="parameters" element="tns:TaiKhoanDenResponse" />
</message>
<message name="LuuChuyenTien">
<part name="parameters" element="tns:LuuChuyenTien" />
</message>
<message name="LuuChuyenTienResponse">
<part name="parameters" element="tns:LuuChuyenTienResponse" />
</message>
<message name="SoTien">
<part name="parameters" element="tns:SoTien" />
</message>
<message name="SoTienResponse">
<part name="parameters" element="tns:SoTienResponse" />
</message>
<message name="getTaiKhoan">
<part name="parameters" element="tns:getTaiKhoan" />
</message>
<message name="getTaiKhoanResponse">
<part name="parameters" element="tns:getTaiKhoanResponse" />
</message>
<message name="LuuNhanTien">
<part name="parameters" element="tns:LuuNhanTien" />
</message>
<message name="LuuNhanTienResponse">
<part name="parameters" element="tns:LuuNhanTienResponse" />
</message>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<message name="getSoTaiKhoan">
<part name="parameters" element="tns:getSoTaiKhoan" />
</message>
<message name="getSoTaiKhoanResponse">
<part name="parameters" element="tns:getSoTaiKhoanResponse" />
</message>
<message name="ChuyenTien">
<part name="parameters" element="tns:ChuyenTien" />
</message>
<message name="ChuyenTienResponse">
<part name="parameters" element="tns:ChuyenTienResponse" />
</message>
<portType name="DichVu">
<operation name="CheckDangNhap">
<input wsam:Action="http://bank/DichVu/CheckDangNhapRequest" message="tns:CheckDangNhap" />
<output wsam:Action="http://bank/DichVu/CheckDangNhapResponse" message="tns:CheckDangNhapResponse" />
</operation>
<operation name="DoiPIN">
<input wsam:Action="http://bank/DichVu/DoiPINRequest" message="tns:DoiPIN" />
<output wsam:Action="http://bank/DichVu/DoiPINResponse" message="tns:DoiPINResponse" />
</operation>
<operation name="XemChiTietTaiKhoan">
<input wsam:Action="http://bank/DichVu/XemChiTietTaiKhoanRequest" message="tns:XemChiTietTaiKhoan" />
<output wsam:Action="http://bank/DichVu/XemChiTietTaiKhoanResponse" message="tns:XemChiTietTaiKhoanResponse" />
</operation>
<operation name="RutTien">
<input wsam:Action="http://bank/DichVu/RutTienRequest" message="tns:RutTien" />
<output wsam:Action="http://bank/DichVu/RutTienResponse" message="tns:RutTienResponse" />
</operation>
<operation name="LuuRutTien">
<input wsam:Action="http://bank/DichVu/LuuRutTienRequest" message="tns:LuuRutTien" />
<output wsam:Action="http://bank/DichVu/LuuRutTienResponse" message="tns:LuuRutTienResponse" />
</operation>
<operation name="TaiKhoanDen">
<input wsam:Action="http://bank/DichVu/TaiKhoanDenRequest" message="tns:TaiKhoanDen" />
<output wsam:Action="http://bank/DichVu/TaiKhoanDenResponse" message="tns:TaiKhoanDenResponse" />
</operation>
<operation name="LuuChuyenTien">
<input wsam:Action="http://bank/DichVu/LuuChuyenTienRequest" message="tns:LuuChuyenTien" />
<output wsam:Action="http://bank/DichVu/LuuChuyenTienResponse" message="tns:LuuChuyenTienResponse" />
</operation>
<operation name="SoTien">
<input wsam:Action="http://bank/DichVu/SoTienRequest" message="tns:SoTien" />
<output wsam:Action="http://bank/DichVu/SoTienResponse" message="tns:SoTienResponse" />
</operation>
<operation name="getTaiKhoan">
<input wsam:Action="http://bank/DichVu/getTaiKhoanRequest" message="tns:getTaiKhoan" />
<output wsam:Action="http://bank/DichVu/getTaiKhoanResponse" message="tns:getTaiKhoanResponse" />
</operation>
<operation name="LuuNhanTien">
<input wsam:Action="http://bank/DichVu/LuuNhanTienRequest" message="tns:LuuNhanTien" />
<output wsam:Action="http://bank/DichVu/LuuNhanTienResponse" message="tns:LuuNhanTienResponse" />
</operation>
<operation name="hello">
<input wsam:Action="http://bank/DichVu/helloRequest" message="tns:hello" />
<output wsam:Action="http://bank/DichVu/helloResponse" message="tns:helloResponse" />
</operation>
<operation name="getSoTaiKhoan">
<input wsam:Action="http://bank/DichVu/getSoTaiKhoanRequest" message="tns:getSoTaiKhoan" />
<output wsam:Action="http://bank/DichVu/getSoTaiKhoanResponse" message="tns:getSoTaiKhoanResponse" />
</operation>
<operation name="ChuyenTien">
<input wsam:Action="http://bank/DichVu/ChuyenTienRequest" message="tns:ChuyenTien" />
<output wsam:Action="http://bank/DichVu/ChuyenTienResponse" message="tns:ChuyenTienResponse" />
</operation>
</portType>
<binding name="DichVuPortBinding" type="tns:DichVu">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="CheckDangNhap">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="DoiPIN">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="XemChiTietTaiKhoan">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="RutTien">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="LuuRutTien">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="TaiKhoanDen">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="LuuChuyenTien">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="SoTien">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getTaiKhoan">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="LuuNhanTien">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getSoTaiKhoan">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ChuyenTien">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="DichVu">
<port name="DichVuPort" binding="tns:DichVuPortBinding">
<soap:address location="http://localhost:8080/BankServer2/DichVu" />
</port>
</service>
</definitions>